<ng-sidebar-container>

  <!-- Begin sidebar view -->
  <ng-sidebar [(opened)]="_opened" [mode]="_MODES[_modeNum]" position="right" [closeOnClickOutside]="true">
    <ul class="navbar-nav navbar-right" id="nav">
      <li>
        <div class="profile-pic text-center"><i class="fas fa-user"></i>
          <a (click)="_toggleSidebar()" href="javascript:void(0);" data-toggle="modal" data-target="#myModal2">Sign
            In</a>
        </div>
      </li>
      <li class="nav-item" style="margin-top: 40px;">
        <a (click)="_toggleSidebar()" class="nav-link" routerLink="/" routerLinkActive="current-clikable-item"
          [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-home"></i>&nbsp;Home</a>
      </li>
      <hr>
      <li class="nav-item">
        <a (click)="_toggleSidebar()" class="nav-link" routerLink="/fest/" routerLinkActive="current-clikable-item"
          [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-burn"></i>&nbsp;Fests</a>
      </li>
      <hr>
      <li class="nav-item">
        <a (click)="_toggleSidebar()" class="nav-link" routerLink="/organizations/"
          routerLinkActive="current-clikable-item" [routerLinkActiveOptions]="{exact:true}"><i
            class="fas fa-users"></i>&nbsp;Organizations</a>
      </li>
      <hr>
      <li class="nav-item"><a (click)="_toggleSidebar()" class="nav-link" routerLink="/blog/"
          routerLinkActive="current-clikable-item" [routerLinkActiveOptions]="{exact:true}"><i
            class="fas fa-map-marker"></i>&nbsp;Blog</a></li>
      <hr>
      <li class="nav-item"><a (click)="_toggleSidebar()" href="#contact"><i
            class="fas fa-address-book"></i>&nbsp;Contact Us</a></li>
      <hr>
      <li class="nav-item">
        <div class="top-part-sidebar">
          <div class="top-social">
            <a (click)="_toggleSidebar()" href="javascript:void(0);" style="margin-left:0;"><i
                class="fab fa-facebook-f"></i></a>
            <a (click)="_toggleSidebar()" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
            <a (click)="_toggleSidebar()" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </li>
    </ul>
  </ng-sidebar>
  <!-- End sidebar view -->

  <div ng-sidebar-content>
    <div class="top-part">
      <div class="container h-100">
        <div class="modal fade log-in-pop" id="myModal2" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="login-form">
                  <div class="main-div">
                    <div class="login-logo">
                      <img src="assets/images/logo2.png" alt="">
                    </div>
                    <ul>
                      <li class="active"><a data-toggle="tab" href="#user">USER</a></li>
                      <li><a data-toggle="tab" href="#org">ORGANIZATIONS</a></li>
                    </ul>
                    <div class="tab-content">
                      <div id="user" class="tab-pane active">
                        <div class="text-center">
                          <h2>Sign in with</h2>
                        </div>
                        <div class="col-md-12 col-xs-12">
                          <button (click)="socialSignIn('facebook')" class="fb-lig"><i class="fab fa-facebook-f"></i>
                            &nbsp;&nbsp;Log In</button>
                        </div>
                        <div class="col-md-12 col-xs-12">
                          <button (click)="socialSignIn('google')" class="goo-lig"><i class="fab fa-google-plus-g"></i>
                            &nbsp;Log In</button>
                        </div>
                      </div>
                      <div id="org" class="tab-pane">
                        <form id="Login" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                          <div class="form-group">
                            <input placeholder="User" type="text" formControlName="username"
                              class="form-control org-input"
                              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                              <div *ngIf="f.username.errors.required">User Id is required</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <input placeholder="Password" type="password" formControlName="password"
                              class="form-control org-input"
                              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                              <div *ngIf="f.password.errors.required">Password is required</div>
                              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="loginModalButton">Login</button>
                          </div>
                        </form>
                        <button type="button" class="btn btn-primary btn-block btn-flat"
                          (click)="organizationSignUp()">SignUp</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal End -->
        <div class="row h-100">
          <div class="col-md-6 top-social my-auto">
            <a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
            <a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/festify_india/"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="col-md-6 log-in text-right">
            <a *ngIf=" this.authenticator.userExist == undefined &&  this.authenticator.orgExist == undefined"
              href="javascript:void(0);" id="signInButton" data-toggle="modal" data-target="#myModal2">Sign In</a>
            <div class="dropdown" *ngIf="this.authenticator.userExist!=undefined">
              <div style="display: flex; align-items: center;">
                <i class="fas fa-user" style="font-size:24px;" *ngIf="socialData"></i>
                <span style="font-size:20px;">
                  <b>&nbsp;&nbsp;Hi, {{this.userExist.firstName}}</b>
                </span>
              </div>
              <div class="dropdown-content dropdown-menu-right">
                <li class="dd-item">
                  <a class="nav-link" routerLink="/userdashboard/" routerLinkActive="current-clikable-item"
                    [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
                </li>
                <li class="dd-item">
                  <a href="javascript:void(0);" class="nav-link" routerLinkActive="current-clikable-item"
                    [routerLinkActiveOptions]="{exact:true}" (click)="this.authenticationServiceFn.logout()">Logout</a>
                </li>
              </div>
            </div>
            <div class="dropdown" *ngIf="this.authenticator.orgExist !=undefined">
              <div style="display: flex;align-items: center;" *ngIf="organizationList">
                <i class="fas fa-users" style="font-size:24px;"></i>
                <span style="font-size:20px;">
                  <b>&nbsp;&nbsp;Hi, {{organizationList.name }}</b>
                </span>
              </div>
              <div class="dropdown-content dropdown-menu-right">
                <li class="dd-item">
                  <a class="nav-link" routerLink="/orgdashboard/" routerLinkActive="current-clikable-item"
                    [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
                </li>
                <li class="dd-item">
                  <a class="nav-link" routerLink="/fest-upload-form/" routerLinkActive="current-clikable-item"
                    [routerLinkActiveOptions]="{exact:true}">Create Fest</a>
                </li>
                <li class="dd-item">
                  <a href="javascript:void(0);" class="nav-link" routerLinkActive="current-clikable-item"
                    [routerLinkActiveOptions]="{exact:true}" (click)="this.authenticationServiceFn.logout()">Logout</a>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="logo-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-3 col-sm-2 logo-part">
            <a href="javascript:void(0);"><img src="assets/images/logo2.png" alt=""></a>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-7 col-7 text-right">
            <div id="navigation">
              <nav class="navbar navbar-expand-sm" id="nav-content">
                <ul class="navbar-nav ml-auto" id="nav">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="current-clikable-item"
                      [routerLinkActiveOptions]="{exact:true}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/fest/" routerLinkActive="current-clikable-item"
                      [routerLinkActiveOptions]="{exact:true}">Fests</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/organizations/" routerLinkActive="current-clikable-item"
                      [routerLinkActiveOptions]="{exact:true}">organizations</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" routerLink="/blog/" routerLinkActive="current-clikable-item"
                      [routerLinkActiveOptions]="{exact:true}">Blog</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" routerLink="/"
                      routerLinkActive="current-clikable-item">contact us</a></li>
                  <li><button class="toggle pull-right" (click)="_toggleSidebar()"><i class="fas fa-bars"></i></button>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>

  </div>

</ng-sidebar-container>

<!-- *ngIf=" this.authenticator.userExist == undefined &&  this.authenticator.orgExist == undefined" -->
<!-- *ngIf=" this.authenticator.userExist == undefined &&  this.authenticator.orgExist == undefined" -->
