<style>
    .current-clikable-item {
        color: #f71769!important;
    }
</style>
<div class="modal fade log-in-pop" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="login-form">
                    <div class="main-div">
                        <ul>
                            <li class="active"><a data-toggle="tab" href="#home">USER</a></li>
                            <li><a data-toggle="tab" href="#menu1">ORGANIZATIONS</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="col-md-6 col-xs-6">
                                    <button (click)="socialSignIn('facebook')" class="fb-lig"><i class="fab fa-facebook-f"></i> &nbsp;&nbsp;Log In</button>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <button (click)="socialSignIn('google')" class="goo-lig"><i class="fab fa-google-plus-g"></i> &nbsp;Log In</button>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <form id="Login" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                                    <div class="form-group">
                                        <label>User Id</label>
                                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">User Id is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" id=loginModalButton>Login</button>
                                    </div>
                                </form>
                                <button type="button" class="btn btn-primary btn-block btn-flat" (click)="organizationSignUp()">Sign Up</button>

                            </div>
                        </div>

                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->

<header>
    <div class="top-part">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <ul class="top-socila">
                        <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-6 log-in text-right">
                    <a *ngIf=" this.authenticationServiceFn.userExist == undefined &&  this.authenticationServiceFn.orgExist == undefined" data-toggle="modal" data-target="#myModal2">Sign In</a>
                    <a *ngIf=" this.authenticationServiceFn.userExist ||  this.authenticationServiceFn.orgExist" (click)="this.authenticationServiceFn.logout()">Log Out</a>
                </div>

            </div>
        </div>
    </div>
    <div class="logo-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-3 col-sm-2 col-md-offset-1 logo-part">
                    <a href="javascript:void(0);"><img src="assets/images/logo2.png" alt=""></a>
                </div>
                <div class="col-md-9 text-right">
                    <div id="navigation">
                        <nav>
                            <div class="navbar-collapse justify-content-end" id="nav-content">
                                <ul class="navbar-nav navbar-right" id="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/" routerLinkActive="current-clikable-item" [routerLinkActiveOptions]="{exact:true}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/fest/" routerLinkActive="current-clikable-item" [routerLinkActiveOptions]="{exact:true}">Fests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" routerLink="/organizations/" routerLinkActive="current-clikable-item" [routerLinkActiveOptions]="{exact:true}">organizations</a>
                                    </li>
                                    <li class="nav-item"><a href="#contact">contact us</a></li>
                                    <li class="nav-item"><a href="#map-sec">location</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
