<app-userheader></app-userheader>
<div class="inner-ban">
    <img src="assets/images/inner-ban.jpg" alt="">
</div>

<div>
</div>

 <section class="success">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="alert alert-success"> Thank You {{firstName}} {{lastName}}  for booking ticket at festify for fest  {{festName}} event {{eventName}}. 
                    We have received Rs {{ticketPrice}} from you.</h4>
                <h5 class="alert alert-success">Your ticket has been sent to your email  {{email}}  and by SMS to {{phoneNo}}</h5>
            </div>
        </div>
    </div>
</section>