.eventDetails {
  background: #FFFFFF;
  .eventDetailsCard {
    border: 1px solid lightgrey;
    background: #FFFFFF;
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px 0 10px 0;
    color: #000;
    margin-top: 10px;

    .eventDateVenue {
      margin-bottom: 0;
    }

    .eventTime {
      margin-bottom: 0;
    }

    .eventUserDetails {
      color: #1c1c1c;
    }

    .eventFesterDetails > dt{
      font-size: 16px;
      padding-right: 0;
    }
    .eventFesterDetails > dd{
      font-size: 18px;
      padding-right: 0;
    }
  }

}
