<app-organizationheader></app-organizationheader>
<div class="inner-ban">
    <img src="assets/images/inner-ban.jpg" alt="">
</div>
<section class="orgdashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>dashboard</h2>
            </div>
            <div class="col-md-4">
                <div class="profile-sec">
                    <h3>your profile</h3>
                    <img id="imgElem" alt="">
                    <ul *ngIf="organizationList">
                        <li>{{organizationList.name}}</li>
                        <li>{{organizationList.website}}</li>
                        <li>{{organizationList.address}}</li>
                        <li><a routerLink="/edit/">Edit</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-8">
                <div class="profile-decp">
                    <ul>
                        <li class="active"><a data-toggle="tab" href="#pro-1">Fest Dashboard</a></li>
                        <li><a data-toggle="tab" href="#pro-2">Participants</a></li>
                    </ul>
                    <div class="tab-content participantsListDetails">
                        <div id="pro-1" class="tab-pane fade in active">
                            <h3>your events</h3>
                            <h4>select Fest to edit <span><a routerLink="/fest-upload-form/">+create new fest</a></span></h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>no</th>
                                        <th>fest</th>
                                        <th>start date</th>
                                        <th>end date</th>
                                        <th>select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of  organizationFestList ; let i=index;" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                                        <td> {{i+1}}</td>
                                        <td> {{data.name}}</td>
                                        <td> {{data.start_date}}</td>
                                        <td> {{data.end_date}}</td>
                                        <td>
                                            <input type="checkbox" class="chk" (change)="gettingSelectedValue($event)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        <!--<div class="well well-lg">
                                Selected Row : <strong>{{selectedRow}}</strong>
                            </div>--> 
                            <button (click)="delete()" class="del">delete</button>
                            <button (click)="edit()" class="edit">edit</button>
                        </div>
                        <div id="pro-2" class="tab-pane fade">
                            <!--<div  *ngFor="let tickets of paymentList; let i=index;">-->
                            <!--<h3>{{ tickets.first_name }}</h3>-->
                            <!--</div>-->
                          <div class="row participantsListCard">
                            <div class="col-md-5 text-center">
                              <img width="150" src="https://cdn4.iconfinder.com/data/icons/let-s-party/756/dance_party_drunk_disco_birthday_celebrate_pub-512.png" alt="404">
                              <div>
                                <!--<h2>{{bookFest.name}}</h2>-->
                                <h3>Event Name, Type</h3>
                                <p class="eventDateVenue">SJBIT, Jayanagar 6th Block,Bangalore on {{bookFest.booking_date}}</p>
                                <p class="eventTime">at 7:00 a.m.</p>
                              </div>
                            </div>
                            <div class="col-md-7 eventFesterDetails">
                              <h1 class="col-md-12">Swapnil Kumar</h1>
                              <dt class="col-md-6 col-sm-6 col-xs-6">Paid</dt>
                              <dd class="col-md-6 col-sm-6 col-xs-6"> &#8377; 20{{event.ticket_price}}</dd>

                              <dt class="col-md-6 col-sm-6 col-xs-6">Ticket ID</dt>
                              <dd class="col-md-6 col-sm-6 col-xs-6">1523</dd>

                              <dt class="col-md-6 col-sm-6 col-xs-6">Coordinator</dt>
                              <dd class="col-md-6 col-sm-6 col-xs-6">Raghav, 910863783</dd>

                              <dt class="col-md-6 col-sm-6 col-xs-6">Others</dt>
                              <dd class="col-md-6 col-sm-6 col-xs-6">Bla bL bal </dd>
                            </div>
                          </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
