.festspecific-page {
  padding: 60px 0;
}

.festspecific-page .left-sec {
  -webkit-box-shadow: 0 0 7px #ddd;
          box-shadow: 0 0 7px #ddd;
}

.festspecific-page .left-sec ul li {
  color: #111;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.festspecific-page .left-sec h3 {
  background: #fff;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  padding: 9px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

.festspecific-page .left-sec .contact-details {
  padding-bottom: 20px;
}

.festspecific-page .left-sec .contact-details h5 {
  color: #000;
}

.festspecific-page .left-sec .sponsor-details {
  padding: 15px;
}

.festspecific-page .left-sec .sponsor-details .spon-img img {
  border-radius: 50%;
  width: 55%;
  display: table;
  margin: 0 auto 15px;
}

.festspecific-page .fest-decp {
  -webkit-box-shadow: 0 0 7px #ddd;
          box-shadow: 0 0 7px #ddd;
  padding: 15px;
}

.festspecific-page .fest-decp .fest-type {
  border: #fff solid 2px;
  border-radius: 5px;
  padding: 0 10px;
  background: #5f376b;
  margin-right: 20px;
  margin-bottom: 8px;
}

.festspecific-page .fest-decp .fest-type h4 {
  color: #fff;
}

.festspecific-page .fest-decp h2 {
  margin: 0 0 20px;
  text-align: center;
  color: #111;
  text-transform: uppercase;
  font-weight: bold;
}

.festspecific-page .fest-decp h3 {
  color: #333;
  text-align: center;
  margin: 0 0 20px;
  margin-bottom: 0;
  padding-bottom: 4px;
  letter-spacing: 1px;
  font-weight: 400;
}

.festspecific-page .fest-decp .sec1 {
  background: #f3f3f3;
  padding: 15px;
  margin-bottom: 20px;
}

.festspecific-page .fest-decp .sec1 h4 {
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #111;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

.festspecific-page .fest-decp .sec1 p {
  text-align: justify;
  color: #111;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.5px;
  font-style: italic;
}

.festspecific-page .fest-decp .sec2 {
  background: #f3f3f3;
  padding: 50px 15px;
  margin-bottom: 20px;
}

.festspecific-page .fest-decp .sec2 h4 {
  margin: 0;
  text-transform: uppercase;
  color: #111;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
}

.festspecific-page .fest-decp .sec2 p {
  color: #000;
  padding: 0 4%;
  font-size: 1.2em;
}

.festspecific-page .fest-decp .sec3 {
  background: #eee;
  padding: 0 15px 0 0;
  display: table;
  margin-bottom: 20px;
}

.festspecific-page .fest-decp .sec3 h4 {
  margin: 40px 0 15px;
  text-transform: uppercase;
  color: #111;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

.festspecific-page .fest-decp .sec3 p {
  text-align: justify;
  color: #111;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.5px;
  font-style: italic;
}

.festspecific-page .fest-decp .sec3 img {
  width: 22%;
  position: relative;
  float: left;
  margin-right: 20px;
}

.festspecific-page .fest-decp .sec4 {
  background: #f3f3f3;
  padding: 15px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
}

.festspecific-page .fest-decp .sec4 h4 {
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #111;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
}

.festspecific-page .fest-decp .sec4 .pricingTable {
  text-align: center;
  background: #e6e6e6;
  margin-bottom: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 8px #888888;
          box-shadow: 5px 10px 8px #888888;
}

.festspecific-page .fest-decp .sec4 .pricingTable:hover {
  margin-top: 0px;
}

.festspecific-page .fest-decp .sec4 .pricingTable > .pricingTable-header {
  color: #fff;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .heading {
  display: block;
  background: #fff;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .heading .event-type {
  background: #c9573a;
  padding: 4px;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .heading h3 {
  font-size: 1.5em;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 10px;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .heading h4 {
  margin: 0;
  color: #fff;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .heading i {
  font-size: 70px;
  opacity: 0.5;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .price-value {
  display: block;
  background: #f71769;
  margin: 20px 0;
  padding: 10px 0;
  font-size: 47px;
  font-weight: bold;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .price-value > .month {
  display: block;
  font-size: 14px;
}

.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent {
  text-transform: capitalize;
  background: #fff;
  padding: 20px;
}

.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent p {
  font-size: 0.9em;
  font-weight: 500;
  color: #000;
}

.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent .event_desc p {
  overflow-y: scroll;
  height: 120px;
  padding: 0 20px;
  white-space: pre-wrap;
  color: #000;
}

.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent h5 {
  margin: 0;
  text-transform: uppercase;
  color: #111;
  padding: 10px 0;
  font-weight: 800;
}

.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent > ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent > ul > li {
  border-top: 1px solid #f71769;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #111;
  text-transform: uppercase;
  font-style: italic;
}

.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent > ul > li:hover {
  color: #fff;
}

.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent > ul > li:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: #f71769;
  color: #fff;
  z-index: -5;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent > ul > li:hover:after {
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #fff;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block {
  padding: 7px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0px;
  color: #5f376b;
  background: #e6e6e6;
  position: relative;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block:hover {
  z-index: 1;
  color: #fff;
}

.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block:hover:before, .festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block:hover:after {
  background: #f71769;
  height: 50%;
}
/*# sourceMappingURL=festspecific.component.css.map */