@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-size: 14px;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

a:focus {
  outline: none !important;
  text-decoration: none;
}

ul {
  margin: 0;
}

li,
ol {
  list-style: none;
}

.search-box {
  padding: 0 !important;
}

.search-box .modal-dialog {
  width: 100%;
  margin: 0 auto;
}

.search-box .modal-content {
  border: none;
  border-radius: 0;
}

.search-box .modal-body {
  padding: 0;
}

.search-box input[type="text"] {
  width: 100%;
  background: #f71769;
  border: none;
  color: #fff;
  padding: 17px;
}

.search-box .modal-header {
  padding: 15px;
  border-bottom: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}

.search-box .modal-header .close {
  margin-top: -2px;
  opacity: 1;
  color: #fff;
  font-weight: 300;
  font-size: 57px;
  line-height: 23px;
}

.search-box ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.search-box ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.search-box :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.search-box :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.log-in-pop {
  padding: 0;
}

.log-in-pop .modal-dialog {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.log-in-pop .modal-content {
  width: 100%;
  border-radius: 0;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.log-in-pop .modal-header {
  padding: 15px;
  border-bottom: none;
  position: absolute;
  top: -19px;
  right: 27%;
  z-index: 9999;
}

.log-in-pop button.close {
  color: #111;
  opacity: 1;
  font-size: 40px;
}

.log-in-pop .form-heading {
  color: #fff;
  font-size: 23px;
}

.log-in-pop .panel h2 {
  color: #444444;
  font-size: 18px;
  margin: 0 0 8px 0;
}

.log-in-pop .panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}

.log-in-pop .login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.log-in-pop label {
  color: #333;
  display: table;
}

.log-in-pop h5 {
  color: #333;
}

.log-in-pop .main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.log-in-pop .main-div ul {
  text-align: left;
  border-bottom: 2px solid #f71769;
  margin-bottom: 25px;
  font-size: 0;
}

.log-in-pop .main-div ul li {
  display: inline-block;
}

.log-in-pop .main-div ul li a {
  display: table;
  color: #f71769;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 35px;
}

.log-in-pop .main-div ul li.active a {
  background: #f71769;
  color: #fff;
  font-weight: bold;
}

.log-in-pop .main-div #home button {
  width: 100%;
  border: none;
  color: #fff;
  background: #333;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
}

.log-in-pop .main-div #home button.fb-lig {
  background: #395694 !important;
}

.log-in-pop .main-div #home button.goo-lig {
  background: #d74937 !important;
}

.log-in-pop .login-form .form-group {
  margin-bottom: 10px;
}

.log-in-pop .login-form {
  text-align: center;
}

.log-in-pop .forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.log-in-pop .login-form .btn.btn-primary {
  background: #f71769 none repeat scroll 0 0;
  border-color: #f71769;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.log-in-pop .forgot {
  text-align: left;
  margin-bottom: 30px;
}

.log-in-pop .botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.log-in-pop .login-form .btn.btn-primary.reset {
  background: #f71769 none repeat scroll 0 0;
}

.log-in-pop .back {
  text-align: left;
  margin-top: 10px;
}

.log-in-pop .back a {
  color: #444444;
  font-size: 13px;
  text-decoration: none;
}

.top-part {
  background: #5f376b;
  padding: 10px 0 5px;
}

.top-part ul.top-cont li {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  margin-right: 22px;
}

.top-part ul.top-cont li select {
  background: no-repeat;
  border: none;
}

.top-part .log-in a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.top-part ul.top-socila li {
  display: inline-block;
}

.top-part ul.top-socila li a {
  background: #fff;
  width: 22px;
  height: 22px;
  display: table;
  text-align: center;
  line-height: 22px;
  border-radius: 3px;
  color: #5f376b;
  margin-left: 14px;
}

.top-part .dropdown {
  position: relative;
  display: inline-block;
}

.top-part .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #5f376b;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.top-part .dropdown .dropdown-content .dd-item {
  padding: 8px 15px;
  text-align: left;
}

.top-part .dropdown:hover .dropdown-content {
  display: block;
  z-index: 9999;
}

.logo-sec {
  padding: 15px 0;
  height: 100px;
}

.logo-sec .logo-part {
  padding: 10px 0;
  margin-left: 80px;
}

.logo-sec ng-sidebar-container {
  z-index: 1;
}

.logo-sec ng-sidebar-container .ng-sidebar {
  background: #5f376b;
  width: 13rem;
}

.logo-sec ng-sidebar-container .ng-sidebar--right {
  color: #5f376b !important;
  background: #5f376b;
  padding: 0 25px;
  width: 170px;
}

.logo-sec ng-sidebar-container .profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #6b6464;
  margin: 40px auto;
  margin-bottom: 0;
}

.logo-sec ng-sidebar-container .profile-pic i {
  margin: 20px;
  font-size: 44px;
}

.logo-sec #navigation ul {
  margin-top: 15px;
  padding-right: 15px;
}

.logo-sec #navigation ul li {
  display: inline-block;
}

.logo-sec #navigation ul li a {
  color: #555555;
  text-transform: uppercase;
  font-weight: 600;
  display: table;
  margin-left: 60px;
}

.logo-sec #navigation ul li.current-menu-item a {
  color: #f71769;
}

.logo-sec #navigation ul .toggle {
  display: none;
}

.logo-sec ul.serc {
  margin-top: 15px;
}

.logo-sec ul.serc li {
  display: inline-block;
}

.logo-sec ul.serc li a {
  color: #555555;
  text-transform: uppercase;
  font-weight: 600;
  display: table;
  margin-left: 20px;
}

.logo-sec ul.serc li a span {
  position: absolute;
  top: 14px;
  background: #333;
  color: #fff;
  width: 19px;
  border-radius: 50%;
  text-align: center;
}

.copy p {
  margin: 0;
  color: #fff;
  background: #1c1c1c;
  padding: 20px;
}

.banner-part {
  position: relative;
}

.banner-part .banner_text {
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-part .banner_text h3 {
  color: #111;
  font-size: 30px;
  font-weight: bold;
}

.banner-part .banner_text h2 {
  color: #111;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  margin: 50px 0 0;
}

.banner-part .banner_text h2 span {
  color: #f71769;
}

.banner-part .banner_text p {
  color: #fff;
  font-size: 25px;
}

.banner-part .banner_text a.orderNow {
  background: #f71769;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 38px;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.banner-part .banner_text a {
  display: inline-block;
  margin-top: 35px;
  margin-left: 40px;
}

.banner-part .banner_text a.orderNow2 {
  color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
  padding: 10px 38px;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.5px;
}

section.body-cont1 {
  background: #efefef;
  padding: 0 0 60px;
}

section.body-cont1 ul {
  background: #363636;
  padding: 40px 0;
  margin-bottom: 6%;
}

section.body-cont1 ul li {
  display: inline-block;
}

section.body-cont1 ul li a {
  color: #959595;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 45px;
  font-size: 30px;
  letter-spacing: 1px;
  position: relative;
}

section.body-cont1 ul li.active a {
  color: #fff;
}

section.body-cont1 ul li.active a:after {
  content: "\f0de";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -89px;
  color: #efefef;
  font-size: 52px;
}

section.body-cont1 .sec {
  background: #fff;
  text-align: center;
  position: relative;
  padding: 20px;
}

section.body-cont1 .sec:hover i.fas.fa-gamepad {
  background: #f71769;
}

section.body-cont1 .sec:hover h3 {
  color: #f71769;
}

section.body-cont1 .sec:hover p {
  color: #111;
}

section.body-cont1 .sec i.fas.fa-gamepad {
  background: #363636;
  color: #fff;
  font-size: 35px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  position: absolute;
  top: -36px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

section.body-cont1 .sec h3 {
  color: #363636;
  font-size: 20px;
  font-weight: bold;
  min-height: 45px;
}

section.body-cont1 .sec p {
  color: #959595;
}

section.body-cont1 a.view {
  display: table;
  margin: 35px auto 0;
  color: #f71769;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #f71769;
  padding: 11px 38px;
  border-radius: 5px;
}

section.body-cont10 .container {
  background: url("../images/organizer.jpg");
  padding: 80px 0;
  background-size: cover;
  width: 100%;
}

section.body-cont10 .container .btn {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
}

section.body-cont10 .container h2 {
  color: #ae5fb3;
}

section.body-cont2 {
  padding: 60px 0;
}

section.body-cont2 ul {
  margin-bottom: 35px;
}

section.body-cont2 ul li {
  display: inline-block;
}

section.body-cont2 ul li a {
  color: #555555;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  padding: 5px 35px;
}

section.body-cont2 ul li.active a {
  color: #f71769;
  border-radius: 5px;
}

section.body-cont2 h3 {
  color: #111;
  margin: 0;
}

section.body-cont2 h3 a {
  display: inline-block;
  float: right;
  background: #f71769;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 35px;
  border-radius: 5px;
  margin-bottom: 25px;
}

section.body-cont2 h4 {
  text-transform: capitalize;
  color: #111;
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 16px;
}

section.body-cont2 h4 span {
  float: right;
}

section.body-cont2 .slick-prev:before,
section.body-cont2 .slick-next:before {
  font-size: 34px;
  color: #f71769;
}

section.body-cont2 .slick-prev {
  left: -50px;
}

section.body-cont2 .slick-next {
  right: -48px;
}

section.body-cont3 {
  background: url(../images/bg1.jpg);
  padding: 60px 0;
  background-size: cover;
}

section.body-cont3 h2 {
  color: #fff;
  margin-bottom: 27px;
  text-transform: uppercase;
}

section.body-cont3 p {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-bottom: 16px;
  margin-bottom: 50px;
}

section.body-cont3 p:after {
  content: "";
  width: 33%;
  height: 2px;
  background: #f71769;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

section.body-cont3 h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}

section.body-cont3 h4 {
  color: #f71769;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 600;
}

section.body-cont4 {
  padding: 60px 0;
  background: #fafafa;
}

section.body-cont4 h2 {
  color: #111;
  margin-bottom: 27px;
  text-transform: uppercase;
  font-weight: 700;
}

section.body-cont4 p {
  position: relative;
  color: #111;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-bottom: 16px;
  margin-bottom: 50px;
}

section.body-cont4 p:after {
  content: "";
  width: 33%;
  height: 2px;
  background: #111;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

section.body-cont4 .panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: #fff;
  background: #363636;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

section.body-cont4 .panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */
}

section.body-cont4 div#accordion {
  display: table;
}

section.body-cont4 div#accordion .panel.panel-default {
  width: 47%;
  position: relative;
  float: left;
  margin: 0 15px 10px !important;
  background: #f2f2f2;
  border: none;
}

section.body-cont4 div#accordion .panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 0 !important;
}

section.body-cont4 div#accordion .panel-body {
  background: #fff;
  -webkit-box-shadow: 0 5px 10px #ccc;
          box-shadow: 0 5px 10px #ccc;
  text-align: justify;
  color: #333;
}

section.body-cont4 div#accordion a {
  display: table;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif !important;
  position: relative;
}

section.body-cont5 {
  padding: 60px 0;
}

section.body-cont5 h2 {
  color: #111;
  margin-bottom: 27px;
  text-transform: uppercase;
  font-weight: 700;
}

section.body-cont5 p {
  position: relative;
  color: #111;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-bottom: 16px;
  margin-bottom: 50px;
}

section.body-cont5 p:after {
  content: "";
  width: 33%;
  height: 2px;
  background: #111;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

section.body-cont5 .item {
  background: #fafafa;
  margin: 0 10px;
  display: table;
}

section.body-cont5 .item img {
  position: relative;
  float: left;
  margin-right: 19px;
}

section.body-cont5 .item h5 {
  color: #cccccc;
  font-size: 13px;
  font-weight: 300;
  padding-top: 25px;
}

section.body-cont5 .item h4 {
  color: #f71769;
  font-size: 16px;
  line-height: 20px;
}

section.body-cont5 .item p {
  position: relative;
  color: #111;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-bottom: 16px;
  margin-bottom: 0;
}

section.body-cont5 .item p:after {
  display: none;
}

section.body-cont5 .item a {
  color: #f71769;
}

section.body-cont6 {
  background: url(../images/bg3.jpg);
  padding: 60px 0;
}

section.body-cont6 h2 {
  color: #111;
  margin-bottom: 27px;
  text-transform: uppercase;
  font-weight: 700;
}

section.body-cont6 p {
  position: relative;
  color: #111;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-bottom: 16px;
  margin-bottom: 50px;
}

section.body-cont6 p:after {
  content: "";
  width: 33%;
  height: 2px;
  background: #111;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

section.body-cont6 input[type="email"] {
  width: 50%;
  background: #fff;
  border: none;
  padding: 14px;
  color: #111;
}

section.body-cont6 input[type="submit"] {
  background: #111;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 37px;
  font-size: 17px;
  letter-spacing: 0.5px;
}

section.body-cont7 {
  padding: 60px 0;
  background: #eee;
  background-size: cover;
}

section.body-cont7 h2 {
  color: #111;
  margin-bottom: 27px;
  text-transform: uppercase;
  font-weight: 700;
}

section.body-cont7 p {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-bottom: 16px;
  margin-bottom: 50px;
}

section.body-cont7 p:after {
  content: "";
  width: 33%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

section.body-cont7 .item {
  text-align: center;
  padding: 0 20px;
}

section.body-cont8 {
  padding: 60px 0;
  background: url(../images/bg4.jpg);
  background-size: cover;
}

section.body-cont8 h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}

section.body-cont8 h4 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 300;
  margin: 25px 0;
}

section.body-cont8 p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.inner-banner {
  position: relative;
}

.inner-banner .ban-tx {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner-banner .ban-tx ul {
  background: #fff;
  padding: 15px 35px;
}

.inner-banner .ban-tx ul li {
  float: left;
  color: #1a1a1a;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

.inner-banner .ban-tx ul li a {
  color: #85b242;
  text-transform: uppercase;
  display: table;
  font-size: 24px;
  font-weight: 600;
  border-right: 2px solid #85b242;
  padding-right: 15px;
  margin-right: 15px;
}

section.our-team {
  padding: 0 0 50px;
}

section.our-team iframe {
  margin-top: -25%;
  -webkit-box-shadow: 10px 22px 30px #ddd;
          box-shadow: 10px 22px 30px #ddd;
}

section.our-team h2 {
  color: #161616;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin: 56px 0 20px;
  font-weight: 300;
  position: relative;
}

section.our-team h2 span {
  font-weight: bold;
}

section.our-team h2:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #6ba300;
  position: absolute;
  left: 33%;
}

section.our-team p {
  color: #161616;
  font-size: 16px;
}

section.our-team .team {
  clear: both;
  padding-top: 25px;
}

section.our-team .team .item {
  position: relative;
  margin: 0 15px;
}

section.our-team .team .item:hover .over-lay {
  opacity: 1;
}

section.our-team .team .item img {
  width: 100%;
}

section.our-team .team .item .over-lay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section.our-team .team .item .over-lay h3,
section.our-team .team .item .over-lay h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

section.our-team .team .item .over-lay ul li {
  display: inline-block;
}

section.our-team .team .item .over-lay ul li a {
  color: #fff;
  padding: 10px;
  display: table;
}

section.our-team .why img {
  margin: 0 auto;
  display: table;
  width: 35%;
}

section.our-team .why h3 {
  color: #161616;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

section.our-team .why p {
  text-align: justify;
  color: #161616;
  margin-top: 20px;
  font-size: 16px;
  line-height: 26px;
}

section.contact-sec1 {
  padding: 60px 0;
}

section.contact-sec1 h2 {
  margin: 0 0 25px;
  color: #000;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px;
  position: relative;
  padding-bottom: 15px;
}

section.contact-sec1 h2:after {
  content: "";
  width: 58%;
  height: 1px;
  background: #85b242;
  position: absolute;
  left: 0;
  bottom: 0;
}

section.contact-sec1 h2 span {
  font-weight: bold;
}

section.contact-sec1 p {
  color: #111;
  text-align: justify;
  line-height: 25px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 25px;
}

section.contact-sec1 ul li {
  position: relative;
  color: #111;
  font-size: 16px;
  font-weight: 300;
  padding-left: 29px;
  margin-bottom: 18px;
}

section.contact-sec1 ul li span {
  font-weight: 600;
  text-transform: uppercase;
  display: table;
}

section.contact-sec1 ul li i.fas {
  top: 5px;
  position: absolute;
  left: 0;
}

section.contact-sec2 {
  padding: 60px 0;
  background: url(../images/contact-bg.jpg);
}

section.contact-sec2 h2 {
  margin: 0 0 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px;
  position: relative;
  padding-bottom: 15px;
  text-align: center;
}

section.contact-sec2 h2:after {
  content: "";
  width: 11%;
  height: 1px;
  background: #85b242;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

section.contact-sec2 h2 span {
  font-weight: bold;
}

section.contact-sec2 input:not([type="submit"]),
section.contact-sec2 textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: no-repeat;
  border: 1px solid #fff;
  color: #ffff;
}

section.contact-sec2 textarea {
  height: 120px;
}

section.contact-sec2 ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

section.contact-sec2 ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

section.contact-sec2 :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

section.contact-sec2 :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

section.contact-sec2 input[type="submit"] {
  display: table;
  margin: auto;
  background: #85b242;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 52px;
  letter-spacing: 1px;
}

section.sup-sec {
  padding: 60px 0;
}

section.sup-sec i.fas {
  font-size: 45px;
  color: #85b242;
}

section.sup-sec h3 {
  color: #111;
  font-size: 17px;
  font-weight: 600;
}

section.sup-sec p {
  color: #111;
  font-size: 15px;
  font-weight: 300;
}

section.sup-sec a {
  display: table;
  margin: 20px auto 0;
  border: 1px solid #85b242;
  color: #85b242;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 27px;
}

.registraion-page {
  padding: 60px 0;
}

.registraion-page h2 {
  color: #111;
  text-transform: uppercase;
  font-weight: bold;
}

.registraion-page label {
  color: #333;
  text-transform: capitalize;
  display: table;
}

.registraion-page h5 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #333;
  padding-bottom: 6px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.registraion-page p {
  color: #111;
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
}

.registraion-page input:not([type="submit"]),
.registraion-page textarea,
.registraion-page select {
  width: 100%;
  background: #eee;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  margin-bottom: 10px;
  height: auto;
  padding: 7px;
  color: #333;
}

.registraion-page input[type=file] {
  padding: 7px !important;
  margin-top: 10px;
  border: dotted 3px lightgray;
}

.registraion-page textarea {
  height: 85px;
}

.registraion-page input[type="checkbox"] {
  width: auto;
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 6px;
  margin-right: 15px;
}

.registraion-page table {
  width: 100%;
}

.registraion-page table th {
  padding: 12px;
  background: #f71769;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
}

.registraion-page table td {
  padding: 12px;
  text-transform: capitalize;
  color: #111;
  border: 1px solid #e3e3e3;
}

.registraion-page table tr:nth-child(even) {
  background: #fafafa;
}

.registraion-page table tr:nth-child(odd) {
  background: #efefef;
}

.registraion-page table th:first-child {
  text-align: left;
}

.registraion-page table th:last-child {
  text-align: right;
}

.registraion-page table td:first-child {
  text-align: left;
}

.registraion-page table td:last-child {
  text-align: right;
}

.tab-cara .item {
  padding: 0 5px;
}

.tab-cara .owl-prev {
  background: url(../images/back.png);
  position: absolute;
  top: 34%;
  left: -80px;
  width: 30px;
  height: 30px;
  color: transparent;
  background-size: 100%;
}

.tab-cara .owl-next {
  background: url(../images/next.png);
  position: absolute;
  top: 34%;
  right: -80px;
  width: 30px;
  height: 30px;
  color: transparent;
  background-size: 100%;
}

section.fest-page {
  padding: 60px 0;
}

section.fest-page button {
  margin: 0 6px 10px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 300;
  padding: 6px 28px;
  border: none;
  color: #f71769;
  border-radius: 5px;
  background: no-repeat;
}

section.fest-page h4 {
  text-transform: capitalize;
  color: #111;
  padding: 0 15px;
  font-size: 16px;
  margin-bottom: 50px;
}

section.fest-page h4 span {
  float: right;
}

section.fest-page .gallery_product h4 {
  margin-bottom: 10px;
  padding: 0 15px;
}

section.fest-page .gallery_product img {
  width: 100%;
}

section.orgdashboard {
  padding: 60px 0;
}

section.orgdashboard h2 {
  text-transform: uppercase;
  font-size: 35px;
  color: #111;
  font-weight: 800;
}

section.orgdashboard .profile-sec {
  margin-top: 35px;
  -webkit-box-shadow: 0 0 12px #e3e3e3;
          box-shadow: 0 0 12px #e3e3e3;
  text-align: center;
}

section.orgdashboard .profile-sec img {
  border-radius: 50%;
  margin: 25px auto;
  display: table;
  width: 30%;
}

section.orgdashboard .profile-sec h3 {
  margin: 0;
  background: #f71769;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 15px;
}

section.orgdashboard .profile-sec ul li {
  color: #111;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px;
  border-bottom: 1px solid #f71769;
}

section.orgdashboard .profile-sec ul li a {
  color: #f71769;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 1px;
}

section.orgdashboard .profile-decp {
  margin-top: 35px;
  -webkit-box-shadow: 0 0 12px #e3e3e3;
          box-shadow: 0 0 12px #e3e3e3;
  display: table;
  width: 100%;
  padding-bottom: 15px;
}

section.orgdashboard .profile-decp ul {
  font-size: 0;
}

section.orgdashboard .profile-decp ul li {
  display: inline-block;
}

section.orgdashboard .profile-decp ul li a {
  display: table;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 12px 25px;
}

section.orgdashboard .profile-decp ul li.active a {
  background: #f71769;
}

section.orgdashboard .profile-decp h3 {
  margin: 0;
  background: #f71769;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 15px;
}

section.orgdashboard .profile-decp h4 {
  color: #111;
  padding: 0 15px 15px;
  text-transform: capitalize;
}

section.orgdashboard .profile-decp h4 span {
  float: right;
  font-size: 15px;
}

section.orgdashboard .profile-decp h4 span a {
  color: #333;
}

section.orgdashboard .profile-decp table {
  width: 96%;
  padding: 0 15px;
  border: 1px solid #f71769;
  margin: 0 auto;
}

section.orgdashboard .profile-decp table th {
  background: #f71769;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  border-right: 1px solid #fff;
}

section.orgdashboard .profile-decp table th:last-child {
  border: none;
}

section.orgdashboard .profile-decp table td {
  color: #111;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #f71769;
}

section.orgdashboard .profile-decp .del {
  display: inline-block;
  float: right;
  background: #d0021b;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 7px 25px;
  margin-right: 15px;
  margin-top: 10px;
  border: none;
}

section.orgdashboard .profile-decp .edit {
  display: inline-block;
  float: right;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 7px 25px;
  margin-right: 15px;
  margin-top: 10px;
  border: none;
}

.profile-decp2 {
  margin-top: 35px;
  -webkit-box-shadow: 0 0 12px #e3e3e3;
          box-shadow: 0 0 12px #e3e3e3;
  display: table;
  width: 100%;
  padding-bottom: 15px;
}

.profile-decp2 ul {
  font-size: 0;
}

.profile-decp2 ul li {
  display: inline-block;
}

.profile-decp2 ul li a {
  display: table;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 12px 25px;
}

.profile-decp2 ul li.active a {
  background: #f71769;
}

.profile-decp2 .tab-content {
  width: 100%;
  margin: 0 auto;
  background: #f1f1f1;
  display: table;
  padding: 0 0 15px;
  margin-top: 0;
}

.profile-decp2 .tab-content h3 {
  padding: 0 15px;
  text-transform: uppercase;
  color: #333;
  font-size: 15px;
}

.profile-decp2 .tab-content .sec-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff7f7;
  width: 96%;
  margin: 0 auto 20px;
  text-transform: capitalize;
  color: #666;
}

.profile-decp2 .tab-content .sec-1 h4 {
  font-size: 15px;
  margin-bottom: 15px;
}

.profile-decp2 .tab-content .sec-1 h2 {
  text-transform: uppercase;
  font-size: 19px;
  color: #111;
  font-weight: 800;
  margin: 0;
}

section.festspecific-page {
  padding: 60px 0;
}

section.festspecific-page .left-sec {
  -webkit-box-shadow: 0 0 7px #ddd;
          box-shadow: 0 0 7px #ddd;
}

section.festspecific-page .left-sec ul {
  margin: 15px;
}

section.festspecific-page .left-sec ul li {
  color: #111;
  text-transform: capitalize;
  margin-bottom: 12px;
}

section.festspecific-page .left-sec h3 {
  background: #fff;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  padding: 9px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

section.festspecific-page .left-sec .spon-img img {
  border-radius: 50%;
  width: 55%;
  display: table;
  margin: 0 auto 15px;
}

section.festspecific-page .fest-decp {
  -webkit-box-shadow: 0 0 7px #ddd;
          box-shadow: 0 0 7px #ddd;
  padding: 15px;
}

section.festspecific-page .fest-decp .fest-type {
  border: #fff solid 2px;
  border-radius: 5px;
  padding: 0 10px;
  background: #5f376b;
  margin-right: 20px;
  margin-bottom: 8px;
}

section.festspecific-page .fest-decp .fest-type h4 {
  color: #fff;
}

section.festspecific-page .fest-decp h2 {
  margin: 0 0 20px;
  text-align: center;
  color: #111;
  text-transform: uppercase;
  font-weight: bold;
}

section.festspecific-page .fest-decp h3 {
  color: #333;
  text-align: center;
  margin: 0 0 20px;
  margin-bottom: 0;
  padding-bottom: 4px;
  letter-spacing: 1px;
  font-weight: 400;
}

section.festspecific-page .fest-decp .sec1 {
  background: #f3f3f3;
  padding: 15px;
  margin-bottom: 20px;
}

section.festspecific-page .fest-decp .sec1 h4 {
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #111;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

section.festspecific-page .fest-decp .sec1 p {
  text-align: justify;
  color: #111;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.5px;
  font-style: italic;
}

section.festspecific-page .fest-decp .sec2 {
  background: #f3f3f3;
  padding: 50px 15px;
  margin-bottom: 20px;
}

section.festspecific-page .fest-decp .sec2 h4 {
  margin: 0;
  text-transform: uppercase;
  color: #111;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
}

section.festspecific-page .fest-decp .sec2 p {
  color: #000;
  padding: 0 4%;
  font-size: 1.2em;
}

section.festspecific-page .fest-decp .sec3 {
  background: #eee;
  padding: 0 15px 0 0;
  display: table;
  margin-bottom: 20px;
}

section.festspecific-page .fest-decp .sec3 h4 {
  margin: 40px 0 15px;
  text-transform: uppercase;
  color: #111;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

section.festspecific-page .fest-decp .sec3 p {
  text-align: justify;
  color: #111;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.5px;
  font-style: italic;
}

section.festspecific-page .fest-decp .sec3 img {
  width: 22%;
  position: relative;
  float: left;
  margin-right: 20px;
}

section.festspecific-page .fest-decp .sec4 {
  background: #f3f3f3;
  padding: 15px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
}

section.festspecific-page .fest-decp .sec4 h4 {
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #111;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
}

section.festspecific-page .fest-decp .sec4 .pricingTable {
  text-align: center;
  background: #e6e6e6;
  margin-bottom: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 8px #888888;
          box-shadow: 5px 10px 8px #888888;
}

section.festspecific-page .fest-decp .sec4 .pricingTable:hover {
  margin-top: 0px;
}

section.festspecific-page .fest-decp .sec4 .pricingTable > .pricingTable-header {
  color: #fff;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .heading {
  display: block;
  background: #fff;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .heading .event-type {
  background: #c9573a;
  padding: 4px;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .heading h3 {
  font-size: 1.5em;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 10px;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .heading h4 {
  margin: 0;
  color: #fff;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .heading i {
  font-size: 70px;
  opacity: 0.5;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .price-value {
  display: block;
  background: #f71769;
  margin: 20px 0;
  padding: 10px 0;
  font-size: 47px;
  font-weight: bold;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-header > .price-value > .month {
  display: block;
  font-size: 14px;
}

section.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent {
  text-transform: capitalize;
  background: #fff;
  padding: 20px;
}

section.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent p {
  font-size: 0.9em;
  font-weight: 500;
  color: #000;
}

section.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent .event_desc p {
  overflow-y: scroll;
  height: 120px;
  padding: 0 20px;
  white-space: pre-wrap;
  color: #000;
}

section.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent h5 {
  margin: 0;
  text-transform: uppercase;
  color: #111;
  padding: 10px 0;
  font-weight: 800;
}

section.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent > ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

section.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent > ul > li {
  border-top: 1px solid #f71769;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #111;
  text-transform: uppercase;
  font-style: italic;
}

section.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent > ul > li:hover {
  color: #fff;
}

section.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent > ul > li:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: #f71769;
  color: #fff;
  z-index: -5;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

section.festspecific-page .fest-decp .sec4 .pricingTable > .pricingContent > ul > li:hover:after {
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #fff;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block {
  padding: 7px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0px;
  color: #5f376b;
  background: #e6e6e6;
  position: relative;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block:hover {
  z-index: 1;
  color: #fff;
}

section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block:hover:before, section.festspecific-page .fest-decp .sec4 .pricingTable .pricingTable-sign-up > .btn-block:hover:after {
  background: #f71769;
  height: 50%;
}

#contact .card:hover i,
#contact .card:hover h4 {
  color: #5f376b;
}

section#contact {
  padding: 50px 0;
  padding-top: 7%;
}

section#contact h3 {
  color: #111;
  margin-bottom: 27px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 15px;
}

section#contact p {
  width: 50%;
  color: #111;
  font-weight: 300;
  font-size: 16px;
  margin: 15px auto 30px;
  line-height: 25px;
}

section#contact .card {
  -webkit-box-shadow: 0 0 15px #e9e9e9;
          box-shadow: 0 0 15px #e9e9e9;
  padding: 24px;
}

section#contact .card i.fa {
  color: #f71769;
  font-size: 30px;
  margin-bottom: 15px;
}

section#contact .card h4 {
  color: #111;
}

section#contact .card p {
  width: 100%;
  margin: 0;
  min-height: 56px;
}

.payment-page {
  background: #fff;
  -webkit-box-shadow: 0 0 8px #ddd;
          box-shadow: 0 0 8px #ddd;
  text-align: center;
}

.payment-page input {
  display: table;
  width: 100%;
  border: 1px solid #dbdbdb;
  padding: 11px;
  margin: 15px 0;
  color: #111;
}

.payment-page label {
  color: #111;
  font-size: 20px;
  margin-top: 15px;
}

.payment-page button {
  display: inline-block;
  background: #f71769;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 15px 15px;
  padding: 9px 35px;
}

button.eve {
  margin: 0;
  padding: 11px 16px;
  width: 100%;
  color: #fff;
  background-color: #5f376b;
}

.slick-dots {
  display: none !important;
}

.like-sec {
  margin-top: 30px;
}

.like-sec i.far.fa-thumbs-up {
  font-size: 20px;
  margin-right: 14px;
  color: #4285f4;
}

.like-sec span {
  text-transform: capitalize;
  font-size: 20px;
  color: #4285f4;
}

.like-sec2 {
  margin-top: 30px;
}

.like-sec2 a {
  color: #ccc;
  font-size: 20px;
}

.like-sec2.active a {
  color: green;
}

.slick-slide {
  border: 2px solid #eee;
  border-radius: 10px;
  margin: 0 8px;
  padding-bottom: 9px;
}

.slick-slide img {
  height: 240px;
  margin-bottom: 0px;
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(22%, -38%);
          transform: translate(22%, -38%);
  background: url(http://imagizer.imageshack.com/img923/4545/XdJDuY.png) no-repeat;
  cursor: pointer;
}

.blast {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(22%, -38%);
          transform: translate(22%, -38%);
  background: url(http://imagizer.imageshack.com/img923/4545/XdJDuY.png) no-repeat;
  cursor: pointer;
  background-position: -2800px 0;
  -webkit-transition: background 1s steps(28);
  transition: background 1s steps(28);
}

.gallery_product .item {
  border: 2px solid #eee;
  border-radius: 10px;
  padding-bottom: 9px;
  display: table;
  width: 100%;
  margin-bottom: 30px;
}

.gallery_product .item:hover .overlay {
  opacity: 1;
}

.slick-slide:hover .overlay {
  opacity: 1;
}

.img-wrap {
  position: relative;
  display: table;
  width: 100%;
}

.img-wrap input.update {
  color: white;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 27px;
  text-transform: uppercase;
  background: none;
  border: 2px solid #fff;
  text-shadow: 2px 2px 0 #111;
}

.img-wrap .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */