// @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
$festifyPurple : #5f376b;

body {
  height: 80vh;
  width: 100%;

  .selector {
    a {
      color: #000;
    }

    .fest,
    .sevent,
    .mun {
      border: 5px solid $festifyPurple;
      box-shadow: 5px 10px 8px #888888;
    }
  }
}
