<app-header></app-header>
<!-- <div class="inner-ban">
    <img src="assets/images/inner-ban.jpg" alt="">
</div> -->
<div class="registraion-page">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2>Welcome, Organizers</h2>
            <p>We at festify are humbled to work alongside perhaps the hardest workers around to create a mesmerizing experience for festers everywhere.</p>
            <h3>*All fields are mandatory*</h3>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
        <div class="clearfix"></div>
        <form [formGroup]="registerForm" (ngSubmit)="onRegistrationSubmit()">
         
            <div class="form-group">
                <div class="col-md-4">
                    <label>Type</label>
                </div>
                <div class="col-md-8">
                    <select placeholder="Select Type" formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.type.errors }" required>
                        <option value="" disabled selected hidden>Select Your Organization Type</option>
                        <option value="university">University</option>
                        <option value="pre-university">Pre-University</option>
                       
                            <option value="youth">Youth</option>

                    </select>
                    <div *ngIf="submitted && r.type.errors" class="invalid-feedback">
                        <div *ngIf="r.type.errors.required" class="alert alert-danger">Organization Type is required</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Category</label>
                </div>
                <div class="col-md-8">
                    <select placeholder="Select Category" formControlName="org_category" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.org_category.errors }" required>
                        <option value="" disabled selected hidden>Select Your Organization Category</option>
                        <option value="arts">Arts</option>
                        <optgroup label="Science">
                            <option value="engineering">Engg</option>
                            <option value="medical">Medical</option>
                            <option value="arch">Arch</option>
                        </optgroup>
                        <option value="commerce">Commerce</option>
                        <option value="youth">Architecture</option>
                        <option value="youth">Commerce</option>
                        <option value="youth">Law</option>
                        <option value="youth">Liberal Arts</option>
                    </select>
                    <div *ngIf="submitted && r.type.errors" class="invalid-feedback">
                        <div *ngIf="r.org_category.errors.required" class="alert alert-danger">Organization Category is required</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <h5>Login Details</h5>    
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Organization User ID</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="org_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.org_id.errors }" />
                    <div *ngIf="submitted && r.org_id.errors" class="invalid-feedback">
                        <div *ngIf="r.org_id.errors.required" class="alert alert-danger">Organization User ID is required</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Organization User Password</label>
                </div>
                <div class="col-md-8">
                    <input type="password" formControlName="org_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.org_password.errors }" />
                    <div *ngIf="submitted && r.org_password.errors" class="invalid-feedback">
                        <div *ngIf="r.org_password.errors.required" class="alert alert-danger">Organization User Password is required</div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-12">
                <h5>Organization Details</h5>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Name of College</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.name.errors }" />
                    <div *ngIf="submitted && r.name.errors" class="invalid-feedback">
                        <div *ngIf="r.name.errors.required" class="alert alert-danger">Organization Name is required</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Address</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.address.errors }" />
                    <div *ngIf="submitted && r.address.errors" class="invalid-feedback">
                        <div *ngIf="r.address.errors.required" class="alert alert-danger">Address is required</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Upload College/Organization Photo</label>
                </div>
                <div class="col-md-8">
                    <input type="file" accept="image/x-png,image/gif,image/jpeg" formControlName="image"  name="image" (change)="fileChange($event)" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.image.errors }" />
                    <canvas width="300" height="300" id="mycanvas" style="display: none;"></canvas>
                    <div *ngIf="submitted && r.image.errors" class="invalid-feedback">
                        <div *ngIf="r.image.errors.required" class="alert alert-danger">College Picture is required</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Description</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.description.errors }" />
                    <div *ngIf="submitted && r.description.errors" class="invalid-feedback">
                        <div *ngIf="r.description.errors.required" class="alert alert-danger">Description is required</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Website</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="website" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.website.errors }" />
                    <div *ngIf="submitted && r.website.errors" class="invalid-feedback">
                        <div *ngIf="r.website.errors.required" class="alert alert-danger">Website is required</div>
                        <div *ngIf="r.website.errors.email" class="alert alert-danger">Website must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12">
                <h5>Contact Details</h5>
            </div>
            <div class="form-group" style="height: 60px;">
                <div class="col-md-4">
                    <label for=""> Main Coordinator: </label>
                </div>
                <div class="col-md-8">
                    <div class="col-xs-12 col-md-2">
                        <label>Name</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text" formControlName="main_coordinator_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.main_coordinator_name.errors }" />
                        <div *ngIf="submitted && r.main_coordinator_name.errors" class="invalid-feedback">
                            <div *ngIf="r.main_coordinator_name.errors.required" class="alert alert-danger">Name is required</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <label>Phone</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text" formControlName="main_coordinator_phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.main_coordinator_phone.errors }" />
                        <div *ngIf="submitted && r.main_coordinator_phone.errors" class="invalid-feedback">
                            <div *ngIf="r.main_coordinator_phone.errors.required" class="alert alert-danger">Mobile No. is required</div>
                            <div *ngIf="r.main_coordinator_phone.errors.phone" class="alert alert-danger">Mobile No Must be a valid Mobile No</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <label>Email</label>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        <input type="text" formControlName="main_coordinator_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.main_coordinator_email.errors }" />
                        <div *ngIf="submitted && r.main_coordinator_email.errors" class="invalid-feedback">
                            <div *ngIf="r.main_coordinator_email.errors.required" class="alert alert-danger">Email is required</div>
                            <div *ngIf="r.main_coordinator_email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="col-xs-12 col-md-4">
                    <label for=""> Secondary Coordinator:</label>
                </div>
                <div class="col-md-8">
                    <div class="col-xs-12 col-md-2">
                        <label>Name</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text" formControlName="sub_coordinator_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.sub_coordinator_name.errors }" />
                        <div *ngIf="submitted && r.sub_coordinator_name.errors" class="invalid-feedback">
                            <div *ngIf="r.sub_coordinator_name.errors.required" class="alert alert-danger">Name is required</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <label>Phone</label>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <input type="text" formControlName="sub_coordinator_phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.sub_coordinator_phone.errors }" />
                        <div *ngIf="submitted && r.sub_coordinator_phone.errors" class="invalid-feedback">
                            <div *ngIf="r.sub_coordinator_phone.errors.required"class="alert alert-danger">Mobile No. is required</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <label>Email</label>
                    </div>
                    <div class="col-xs-12 col-md-10">
                        <input type="text" formControlName="sub_coordinator_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.sub_coordinator_email.errors }" />
                        <div *ngIf="submitted && r.sub_coordinator_email.errors" class="invalid-feedback">
                            <div *ngIf="r.sub_coordinator_email.errors.required" class="alert alert-danger">Email is required</div>
                            <div *ngIf="r.sub_coordinator_email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="col-md-12">
                <h5>Event\Team Manager</h5>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Team</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="team" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.team.errors }" />
                    <div *ngIf="submitted && r.team.errors" class="invalid-feedback">
                        <div *ngIf="r.team.errors.required">Team is required</div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Name</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="manager_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.manager_name.errors }" />
                    <div *ngIf="submitted && r.manager_name.errors" class="invalid-feedback">
                        <div *ngIf="r.manager_name.errors.required">Team Name is required</div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Phone</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="manager_phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && r.manager_phone.errors }" />
                    <div *ngIf="submitted && r.manager_phone.errors" class="invalid-feedback">
                        <div *ngIf="r.manager_phone.errors.required">Team Name is required</div>
                    </div>
                </div>

            </div>-->
            <div class="col-md-12"><h5></h5></div>
            <div class="col-md-2">
                <re-captcha formControlName="recaptchaReactive"></re-captcha>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2" style="margin-top:20px;">
                    <button [disabled]="loading" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>