<header>
  <div class="top-part">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <ul class="top-socila">
            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
            <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-6 log-in text-right">
          <div class="dropdown">
            <div style="display: flex;align-items: center;" *ngIf="organizationList">
              <i class="fas fa-users" style="font-size:24px;"></i>
              <span style="font-size:20px;">
                <b>&nbsp;&nbsp;Hi, {{organizationList.name }}</b>
              </span>
            </div>
            <div class="dropdown-content dropdown-menu-right">
              <li class="dd-item">
                <a class="nav-link" routerLink="/orgdashboard/" routerLinkActive="current-clikable-item"
                  [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
              </li>
              <li class="dd-item">
                <a class="nav-link" routerLink="/fest-upload-form/" routerLinkActive="current-clikable-item"
                  [routerLinkActiveOptions]="{exact:true}">Create Fest</a>
              </li>
              <li class="dd-item">
                <a href="javascript:void(0);" class="nav-link" routerLinkActive="current-clikable-item"
                  [routerLinkActiveOptions]="{exact:true}" (click)="this.authenticationServiceFn.logout()">Logout</a>
              </li>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="logo-sec">
    <ng-sidebar-container (click)='alertBox()'>
      <ng-sidebar [(opened)]="_opened" [mode]="_MODES[_modeNum]" position="right"
        style="height:100%;position: fixed; right:0;">
        <ul class="navbar-nav navbar-right" id="nav">
          <li>
            <div class="profile-pic text-center"><i class="fas fa-user"></i>
              <a (click)="_toggleSidebar()" href="javascript:void(0);"
                *ngIf=" this.authenticationServiceFn.userExist == undefined &&  this.authenticationServiceFn.orgExist == undefined"
                data-toggle="modal" data-target="#myModal2">Sign In</a>
            </div>
          </li>
          <li class="nav-item">
            <a (click)="_toggleSidebar()" class="nav-link" routerLink="/" routerLinkActive="current-clikable-item"
              [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-home"></i>&nbsp;Home</a>
          </li>
          <hr>
          <li class="nav-item">
            <a (click)="_toggleSidebar()" class="nav-link" routerLink="/fest/" routerLinkActive="current-clikable-item"
              [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-burn"></i>&nbsp;Fests</a>
          </li>
          <hr>
          <li class="nav-item">
            <a (click)="_toggleSidebar()" class="nav-link" routerLink="/organizations/"
              routerLinkActive="current-clikable-item" [routerLinkActiveOptions]="{exact:true}"><i
                class="fas fa-users"></i>&nbsp;Organizations</a>
          </li>
          <hr>
          <li class="nav-item"><a (click)="_toggleSidebar()" href="#contact"><i
                class="fas fa-address-book"></i>&nbsp;Contact Us</a></li>
          <hr>
          <li class="nav-item"><a (click)="_toggleSidebar()" href="#map-sec"><i
                class="fas fa-map-marker"></i>&nbsp;Location</a></li>
          <hr>
          <li class="nav-item"><a class="nav-link" routerLink="/orgdashboard/" routerLinkActive="current-clikable-item"
              [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
          </li>
          <hr>
          <li class="nav-item"><a class="nav-link" routerLink="/fest-upload-form/"
              routerLinkActive="current-clikable-item" [routerLinkActiveOptions]="{exact:true}">Create Fest</a>
          </li>
          <hr>
          <li class="nav-item"><a href="javascript:void(0);" class="nav-link" routerLinkActive="current-clikable-item"
              [routerLinkActiveOptions]="{exact:true}" (click)="this.authenticationServiceFn.logout()">Logout</a>
          </li>
          <hr>
          <div class="top-part" style="display: block;">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <ul class="top-socila">
                    <li><a (click)="_toggleSidebar()" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li><a (click)="_toggleSidebar()" href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                    <li><a (click)="_toggleSidebar()" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
                <!-- <div class="col-md-6 col-xs-6 log-in text-right">
                                            <div><a href="javascript:void(0);" *ngIf=" this.authenticationServiceFn.userExist == undefined &&  this.authenticationServiceFn.orgExist == undefined" data-toggle="modal" data-target="#myModal2">Sign In</a></div>
                                            <a href="javascript:void(0);" *ngIf=" this.authenticationServiceFn.userExist ||  this.authenticationServiceFn.orgExist" (click)="this.authenticationServiceFn.logout()">Log Out</a>
                                        </div> -->

              </div>
            </div>
          </div>
        </ul>
      </ng-sidebar>
      <div ng-sidebar-content>
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-xs-3 col-sm-2 col-md-offset-1 logo-part">
              <a href="javascript:void(0);"><img src="assets/images/logo2.png" alt=""></a>
            </div>
            <div class="col-md-9 text-right">
              <div id="navigation">
                <nav>
                  <div class="navbar-collapse justify-content-end" id="nav-content">
                    <ul class="navbar-nav navbar-right desktop-nav" id="nav">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="current-clikable-item"
                          [routerLinkActiveOptions]="{exact:true}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/fest/" routerLinkActive="current-clikable-item"
                          [routerLinkActiveOptions]="{exact:true}">Fests</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/organizations/" routerLinkActive="current-clikable-item"
                          [routerLinkActiveOptions]="{exact:true}">organizations</a>
                      </li>
                      <li class="nav-item"><a href="#contact">contact us</a></li>
                      <li class="nav-item"><a href="#map-sec">location</a></li>
                      <button class="toggle pull-right" (click)="_toggleSidebar()"><i class="fas fa-bars"></i></button>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-sidebar-container>
  </div>
</header>